@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes placeholderFade {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  color: var(--foreground);
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.gradient-bg {
  background: linear-gradient(to right, #00F6FF80 0%, #EE57FF80 25%, #FFA85B80 50%, #58FF9880 75%);
}
